<template>
    <lightning-layout>
         <lightning-layout-item>
              <lightning-input label="Enter Your Name" onchange={handleChange}></lightning-input>
         </lightning-layout-item>
         <lightning-layout-item>
       <c-show-output-component value-from-parent={showOutput}></c-show-output-component>
     </lightning-layout-item>
     
    </lightning-layout>
</template>