<template>
    <lightning-layout>
        <lightning-layout-item title="Show Questions">
            <template for:each={showQuestionRecords} for:item="quesObj" for:index="index">
                <p key={quesObj.Id}>
                    {quesObj.Name}====Answer<lightning-input name={quesObj.Id} value="" id={quesObj.id} onchange={handleChange} accesskey={index}></lightning-input>
                </p>
            </template>
            <lightning-button label="Save" onclick={handleSave}></lightning-button>
        </lightning-layout-item>
    </lightning-layout>
</template>